.dropDown {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    cursor: pointer;
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: 1px solid;
    border-color: inherit;
    background-color: #fff;
  }
  .dropDown--primary {
    height: 2rem;
    font-size: 0.875rem;
  }
  .dropDown--secondary {
   
  }
  .dropDown--small {
    height: 2rem;
    font-size: 0.875rem;
  }
  .dropDown--medium {
    height: 2.5rem;
    font-size: 1rem;
 
  }
  .dropDown--large {
    height: 3rem;
    font-size: 1.25rem;
  }
  