.headerText {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  display: flex;
}
.headerText--primary {
  font-size: larger;
}
.headerText--secondary {
  font-size: larger;
}
.headerText--small {
  font-size: 0.875rem;
}
.headerText--medium {
  font-size: 1.2rem;

}
.headerText--large {
  font-size: 1.8rem;
}
