.image {
    border-radius:50rem;
    cursor: pointer;
  }
  .image--primary {
    color: white;
    background-color: #1ea7fd;
  }
  .image--secondary {
    color: #333;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  }
  .image--small {
  }
  .image--medium {
  }
  .image--large {
  }
  
  svg {
    display: inline-block;
    vertical-align: top;
  }